.html
{
	background-color: #403E3E;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #403E3E;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u69
{
	z-index: 20;
	width: 959px;
	height: 36px;
	top: 0px;
	left: 50%;
	margin-left: -480px;
}

#pu362-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: -27px;
}

#u362-4
{
	z-index: 59;
	width: 54px;
	min-height: 13px;
	margin-left: 480px;
}

#pu91
{
	width: 0.01px;
	margin-top: 36px;
	position: relative;
}

#u91
{
	z-index: 3;
	width: 327px;
	height: 41px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 313px;
}

#u92
{
	z-index: 4;
	width: 312px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u95-5
{
	z-index: 5;
	width: 292px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 19px;
}

#u96-5
{
	z-index: 10;
	width: 329px;
	min-height: 42px;
	margin-right: -10000px;
	left: 312px;
}

#u530-4
{
	z-index: 120;
	width: 349px;
	min-height: 54px;
	color: #FFFFFF;
	font-family: Courier New, Courier, monospace;
	margin-left: 199px;
	margin-top: 58px;
	position: relative;
}

#widgetu493
{
	z-index: 63;
	width: 0.01px;
	height: 266px;
	margin-left: 310px;
	position: relative;
}

#widgetu494
{
	z-index: 64;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu494.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u497-4
{
	z-index: 65;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u496-4
{
	z-index: 69;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu494.non-empty-st #u496-4
{
	background-color: #FFFFFF;
}

#widgetu494:hover #u496-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu494.focus-st #u496-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu494.non-empty-st #u496-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu494:hover #u496-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu494.focus-st #u496-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu506
{
	z-index: 73;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu506.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 60px -10000px 0px 0px;
}

#u508-4
{
	z-index: 74;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu506.fld-err-st #u508-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u509-4
{
	z-index: 78;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu506.non-empty-st #u509-4
{
	background-color: #FFFFFF;
}

#widgetu506:hover #u509-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu506.focus-st #u509-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu494.fld-err-st #u496-4,#widgetu506.fld-err-st #u509-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu506.non-empty-st #u509-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu506:hover #u509-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu506.focus-st #u509-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu494_input,#widgetu494_prompt,#widgetu506_input,#widgetu506_prompt
{
	width: 328px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#u525-4
{
	z-index: 82;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu493.frm-sub-st #u525-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u499-4
{
	z-index: 86;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu493.frm-subm-err-st #u499-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u500-4
{
	z-index: 90;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu493.frm-sub-st #u525-4,#widgetu493.frm-subm-err-st #u499-4,#widgetu493.frm-subm-ok-st #u500-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu493.frm-subm-ok-st #u500-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u526-17
{
	z-index: 94;
	min-height: 31px;
	width: 131px;
	background: url("../images/u526-17.png") no-repeat 0px 0px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
}

#u526-17:hover
{
	background: url("../images/u526-17-r.png") no-repeat 0px 0px;
}

#u526-17:active
{
	background: url("../images/u526-17-m.png") no-repeat 0px 0px;
}

#widgetu493.frm-sub-st #u526-17
{
	background: url("../images/u526-17-fs.png") no-repeat 0px 0px;
}

#widgetu501
{
	z-index: 111;
	width: 340px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu501.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 120px -10000px 0px 0px;
}

#u505-4
{
	z-index: 112;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu494.fld-err-st #u497-4,#widgetu501.fld-err-st #u505-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu494.fld-err-st #u497-4 p,#widgetu494.fld-err-st #u497-4 span,#widgetu506.fld-err-st #u508-4 p,#widgetu506.fld-err-st #u508-4 span,#widgetu501.fld-err-st #u505-4 p,#widgetu501.fld-err-st #u505-4 span
{
	color: #D7244C;
}

#u503-4
{
	z-index: 116;
	width: 328px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu501.non-empty-st #u503-4
{
	background-color: #FFFFFF;
}

#widgetu501:hover #u503-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu501.focus-st #u503-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu501.fld-err-st #u503-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu501.non-empty-st #u503-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu501:hover #u503-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu501.focus-st #u503-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu494.fld-err-st #u496-4 *,#widgetu506.fld-err-st #u509-4 *,#widgetu501.fld-err-st #u503-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu501_input,#widgetu501_prompt
{
	width: 328px;
	min-height: 68px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu494.focus-st #widgetu494_prompt,#widgetu506.focus-st #widgetu506_prompt,#widgetu501.focus-st #widgetu501_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu494:hover #widgetu494_input,#widgetu494.focus-st #widgetu494_input,#widgetu494.fld-err-st #widgetu494_input,#widgetu494:hover #widgetu494_prompt,#widgetu494.fld-err-st #widgetu494_prompt,#widgetu506:hover #widgetu506_input,#widgetu506.focus-st #widgetu506_input,#widgetu506.fld-err-st #widgetu506_input,#widgetu506:hover #widgetu506_prompt,#widgetu506.fld-err-st #widgetu506_prompt,#widgetu501:hover #widgetu501_input,#widgetu501.focus-st #widgetu501_input,#widgetu501.fld-err-st #widgetu501_input,#widgetu501:hover #widgetu501_prompt,#widgetu501.fld-err-st #widgetu501_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu494.non-empty-st #widgetu494_prompt,#widgetu506.non-empty-st #widgetu506_prompt,#widgetu501.non-empty-st #widgetu501_prompt
{
	visibility: hidden;
}

#pu79
{
	width: 0.01px;
	padding-bottom: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: -37px;
	left: 4px;
}

#u79
{
	z-index: 49;
	width: 46px;
	top: 0px;
	left: 50%;
	margin-left: -476px;
}

#u85-4
{
	z-index: 51;
	width: 142px;
	min-height: 22px;
	top: 7px;
	left: 50%;
	margin-left: -424px;
}

#u72-4
{
	z-index: 25;
	width: 63px;
	min-height: 17px;
	top: 10px;
	left: 50%;
	margin-left: 54px;
}

#u71-4
{
	z-index: 21;
	width: 39px;
	min-height: 16px;
	top: 10px;
	left: 50%;
	margin-left: 127px;
}

#u90
{
	z-index: 2;
	width: 318px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 641px;
}

#u97-5
{
	z-index: 15;
	width: 317px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: -1px;
}

#pu73-4
{
	width: 0.01px;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: -27px;
	left: 663px;
}

#u73-4
{
	z-index: 29;
	width: 31px;
	min-height: 16px;
	top: 10px;
	left: 50%;
	margin-left: 183px;
}

#u74-4
{
	z-index: 33;
	width: 29px;
	min-height: 16px;
	top: 10px;
	left: 50%;
	margin-left: 231px;
}

#u75-4
{
	z-index: 37;
	width: 31px;
	min-height: 16px;
	top: 10px;
	left: 50%;
	margin-left: 280px;
}

#u76-4
{
	z-index: 41;
	width: 63px;
	min-height: 11px;
	top: 10px;
	left: 50%;
	margin-left: 325px;
}

#u78-4
{
	z-index: 45;
	width: 77px;
	min-height: 13px;
	top: 10px;
	left: 50%;
	margin-left: 372px;
}

#u270-4
{
	z-index: 55;
	width: 53px;
	min-height: 9px;
	top: 10px;
	left: 50%;
	margin-left: 422px;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

