.html
{
	background-color: #403E3E;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #403E3E;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -37px;
	margin-bottom: 358px;
}

#pu69
{
	width: 0.01px;
	padding-bottom: 46px;
	position: relative;
}

#u69
{
	z-index: 24;
	width: 959px;
	height: 36px;
	top: 0px;
	left: 50%;
	margin-left: -480px;
}

#u79
{
	z-index: 53;
	width: 46px;
	top: 0px;
	left: 50%;
	margin-left: -476px;
}

#u85-4
{
	z-index: 55;
	width: 142px;
	min-height: 22px;
	top: 7px;
	left: 50%;
	margin-left: -424px;
}

#u72-4
{
	z-index: 29;
	width: 63px;
	min-height: 17px;
	top: 10px;
	left: 50%;
	margin-left: 54px;
}

#u71-4
{
	z-index: 25;
	width: 39px;
	min-height: 16px;
	top: 10px;
	left: 50%;
	margin-left: 127px;
}

#u73-4
{
	z-index: 33;
	width: 31px;
	min-height: 16px;
	top: 10px;
	left: 50%;
	margin-left: 183px;
}

#u74-4
{
	z-index: 37;
	width: 29px;
	min-height: 16px;
	top: 10px;
	left: 50%;
	margin-left: 231px;
}

#u75-4
{
	z-index: 41;
	width: 31px;
	min-height: 16px;
	top: 10px;
	left: 50%;
	margin-left: 280px;
}

#u76-4
{
	z-index: 45;
	width: 63px;
	min-height: 11px;
	top: 10px;
	left: 50%;
	margin-left: 325px;
}

#u78-4
{
	z-index: 49;
	width: 77px;
	min-height: 13px;
	top: 10px;
	left: 50%;
	margin-left: 372px;
}

#u270-4
{
	z-index: 59;
	width: 53px;
	min-height: 9px;
	top: 10px;
	left: 50%;
	margin-left: 422px;
}

#u362-4
{
	z-index: 63;
	width: 54px;
	min-height: 13px;
	margin-left: 480px;
	top: -36px;
	margin-bottom: -17px;
}

#pu90
{
	width: 0.01px;
	margin-top: 17px;
	position: relative;
}

#u90
{
	z-index: 2;
	width: 318px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 641px;
}

#u97-5
{
	z-index: 15;
	width: 317px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: -1px;
}

#u91
{
	z-index: 3;
	width: 327px;
	height: 41px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 313px;
}

#u92
{
	z-index: 4;
	width: 312px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u95-5
{
	z-index: 5;
	width: 292px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 19px;
}

#u96-5
{
	z-index: 10;
	width: 329px;
	min-height: 42px;
	margin-right: -10000px;
	left: 312px;
}

#u395-4
{
	z-index: 20;
	width: 331px;
	min-height: 46px;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-family: Courier New, Courier, monospace;
	margin-left: 315px;
	margin-top: 28px;
	position: relative;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

